*.log
node_modules/
__pycache__/
.env
venv/
build/
dist/
.codex/
previous_text.txt
settings.json
.vscode/
previous_text.txt
.vscode/PythonImportHelper-v2-Completion.json
build/pwa/Analysis-00.toc
build/pwa/base_library.zip
build/pwa/EXE-00.toc
build/pwa/PKG-00.toc
build/pwa/PYZ-00.pyz
build/pwa/xref-pwa.html
dist/pwa.exe
.vscode/PythonImportHelper-v2-Completion.json
.codex/AGENTS.md
.codex/config.toml
.vscode/PythonImportHelper-v2-Completion.json
.vscode/PythonImportHelper-v2-Completion.json
.vscode/PythonImportHelper-v2-Completion.json
